<header class="header">
  <a href="../../"><img src="https://static-cdn.jtvnw.net/jtv_user_pictures/451dd285-491d-49e0-b1e0-20147f3ab56b-profile_image-300x300.png" class="image" alt="Logo da página" alt="home"></a>
  <nav class="navigation">
    <a href="../../"><img class="icons" src="https://c4ldas.com.br/images/home.svg" alt="home"></a> 
    <a href="https://twitch.tv/c4ldas" target="_blank"><img class="icons" src="https://c4ldas.com.br/images/twitch.svg"></a> 
    <a href="https://youtube.com/c4ldas" target="_blank"><img class="icons" src="https://c4ldas.com.br/images/youtube.svg" alt="youtube"></a> 
    <a href="https://instagram.com/c4ldas" target="_blank"><img class="icons" src="https://c4ldas.com.br/images/instagram.svg" alt="instagram"></a> 
    <a href="https://github.com/c4ldas" target="_blank"><img class="icons" src="https://c4ldas.com.br/images/github.svg" alt="github"></a> 
  </nav>
</header>