<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <!-- <meta http-equiv="X-UA-Compatible" content="ie=edge"> -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preload" href="/fonts/Agencyr.woff2" as="font" type="font/woff" crossorigin>
  <link rel="stylesheet" href="/views/overlays/style.css">
  <script src="/views/overlays/index.js" defer></script>
  
  <!-- Primary Meta Tags -->
  <title>Streamelements Overlay Sharing Tool - by c4ldas</title>
  <meta name="title" content="Streamelements Overlay Sharing Tool - by c4ldas" />
  <meta name="description" content="Share and install overlays with a simple code. Have your overlays installed with minimum effort!" />

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://seapi.c4ldas.com.br/overlays" />
  <meta property="og:title" content="Streamelements Overlay Sharing Tool - by c4ldas" />
  <meta property="og:description" content="Share and install overlays with a simple code. Have your overlays installed with minimum effort!" />
  <meta property="og:image" content="https://c4ldas.com.br/images/seapi-cover.png" />

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content="https://seapi.c4ldas.com.br/overlays" />
  <meta property="twitter:title" content="Streamelements Overlay Sharing Tool - by c4ldas" />
  <meta property="twitter:description" content="Share and install overlays with a simple code. Have your overlays installed with 
    inimum effort!" />
  <meta property="twitter:image" content="https://c4ldas.com.br/images/seapi-cover.png" />
  <!-- Meta Tags Generated with https://metatags.io -->

  
  <title>Overlay Sharing tool</title>
</head>

<body>
  <%- include('partials/header') %>
  <div class="container" id="container">
    <button type="submit" id="share-overlay" class="button">Share overlay / widget</button>
    <button type="submit" id="install-overlay" class="button">Install overlay code</button>
  </div>
</body>

</html>