<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <!-- <meta http-equiv="X-UA-Compatible" content="ie=edge"> -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/views/overlays/style.css">
  <script src="/views/overlays/index.js" defer></script>
  <title>Overlay Sharing tool</title>
</head>

<body>
  <%- include('partials/header') %>
  <div class="container" id="container">
    <button type="submit" id="share-overlay" class="button">Share overlay / custom widget</button>
    <button type="submit" id="install-overlay" class="button">Install overlay code</button>
  </div>
</body>

</html>